* {
    margin: 0px;
    padding: 0px;
}
body {
    background-color: lightgrey;
}
.header {
    height: 60px;
    background-color: #806BDC;
    text-align: center;
    position: relative               
}
.header2 {
    text-decoration: none;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 25px;
    font-weight: 550;
    position: absolute;          
    top: 50%;                 
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.items {
    background-color: white;
    height: 100px;
    width: 100%;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    justify-content: center;
}
.items a {
    text-decoration: none;
    color: black;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: 550;
}
img {
    height: 64px;
    padding: 0 80px;
}

.shopping-time-img {
    margin-top: 30px;
    width: 90vw;
    height: 60vh;
}

.Sales-table {
    width: 90vw;
    margin: auto;
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 12px;
}
th { 
    background-color: #806bdc;
}
.sales {
    position: absolute;          
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)

}
.Information {
    width: 100%;
    /* margin: 20px; */
    font-size: 11px;
    color: #878787;
    list-style-position: inside;
    background-color: white;
}
.cr {
    height: 50px;
    padding-top: 28px;
    background-color: black;
    color: white;
    text-align: center;

}
